@font-face {
    font-family: "Humanist521BT";
    src: url(../font/Humanst521-BT-Roman_23335.ttf);
}

#bodyActuDiv {
    
    font-family: "Humanist521BT";
    font-size: 130%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

 .mainActu {
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
} 



.imgActu {
    width: 40vw;
}
.textActu {
    line-height: 2;
    padding: 2%;
    white-space: wrap;
    overflow-wrap: break-word;
}
.containerNewArticle {
    width: 60vw;
}
.dateActu {
    font-weight: lighter;
    font-size: 100%;
}
.titreActu {
    margin-top: 50px;
    font-size: 250%;
    font-weight: bolder;
}
.titreActu2 {
    margin-top: 50px;
    font-size: 150%;
    font-weight: bolder;
    white-space: wrap;
    
}
#derniereActu{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.news{
    width: 100%;
}
.border{
    
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px dashed black;
}