#containerModif {
    padding: 2%;
    font-size: 120%;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
i {
    transform: scale(220%);
}
