.bodycontact{
  
    display:flex;
    flex-direction: column;
    height:auto;
    
  
 

}


.flexh{
    display:flex;
    height: 100%;
    width:100vw;
    padding-top: 15px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
   
    
}


iframe{
    border:2px solid rgb(90, 84, 84);
    
}

.lignejaune{
    width:100%;
    height:10px;
    background-color: yellow;
}

form{
    
display:flex;
flex-direction: column;
align-items: center;
background:yellow;
height:auto;
width:500px;

justify-content: space-around;

}

textarea{
    width:90%;
   
    text-align: center;
}

.columnh{
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;
 
   
}
.formcontact{
    
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
 
   
}

.coord{
    line-height: 10px;
    border-radius: 20px;
    background:rgb(252, 252, 250);
    padding:10px;
}
input[type=submit]{
    position: relative;
    top: -10px;
}

.input{
margin-top:30px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

  

}
input::placeholder{
    text-align: center;
}
.mesinputs{
    width:130px;
    height:20px;
    
}

.submit{
    height:30px;
    width:150px;
    margin-top: 15px;
    background:rgb(247, 247, 102);
    border-radius: 20px;
}


@media (max-width:900px){
 
    .formcontact{
        
 margin-top: 15px;
 width:auto;
 
   }
#contact {
    width:auto;
    padding:20px;
}

.mesinputs{
    margin-top: 5px;
}


.input{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
}

@media (max-width:400px){
 
  .coord{
      font-size: 10px;
  }
   }








