#bodygalerie{
  height: auto;
}

.lignejaune{
    width:100%;
    height:70px;
    background-color: red;

}
.imagesbdd{
    width:350px;
    height: 300px;
    margin-bottom: 50px;
}

.imagesbdd {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .imagesbdd:hover {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.15); /* Safari et Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* Internet Explorer 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
    }

.mesphotos{
    display:flex;
    width:100vw;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
   
}

.separation{
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.separe{
    width:90%;
    height:auto;
    padding-top: 50px;
    padding-bottom: 50px;
   
   
}
#chaquevideo{
    margin-top:20px;
}
#mesvideos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.h1{
    color:black;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 25px;
    font-size:xx-large;

}





@media (min-width: 1350px) {
 
     .imagesbdd{
         
     width:30vw ;
    }}

    @media (max-width:400px){
 
        .imagesbdd{
            
        width:250px;
        height: 150px;
       }}

       @media (max-width:450px){
 
        iframe{
            
       height:200px;
       width:300px;
       }}

       @media (max-width:400px){
 
        .h1{
            
      font-size: 15px;
       }}

       