@font-face {
  font-family: "niagaraPolice";
  src: url(../font/Niagara_Solid_Regular.ttf);
}

body{
  margin: 0;
  padding: 0;
}
.header {
  border-top: 20px solid rgb(250, 246, 25);
  display: flex;
  /* width: 100vw; */
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.container_logo_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.borderYellow_header {
  border-bottom: 1px solid rgb(250, 246, 25);
}
nav {
  width: 70%;
}
.list_header {
  display: flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
.ulHeader{
  display: flex;
}
.logo_header {
  height: 5rem;
}
header p {
  text-align: center;
  color: white;
}
#cont{
  display: none;
}
.l{
  width: 30px;
  height: 4px;
  background: white;
  position: relative;
  transform-origin: center;
  transition: all 0.5s;
  border-radius: 2px;
}

.l1{
  top: -5px;
}
.l2{
  top:0px;
}
.l3{
  top:5px;
}

.open .l1{
   transform: rotate(45deg);
   top: 0px;
   
  }
.open .l2{
  opacity: 0;
}
.open .l3{
  top: -9px;
   transform: rotate(-45deg);
  }

#ulHiddenHeader{
  animation: 2s animMenu normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0px;
  height: 90vh;
}
#ulHiddenHeader li a{
  color: white;
  border-bottom: 1px solid yellow;
  animation: 3s animMenu2 normal;
}
.containerHeaderHidden{
  display: none;
}
.container_Prix_Head2{
  width: 70%;
  margin: auto;
}
.Active{
  display: flex;
}
.Disable{
   animation:3s animDisable normal;
 }
.CHH{
  display: none;
}
a{
  text-decoration: none;
}
.li_header_hideen{
  font-size: 1.5rem;
}
.listHideen_header{
  padding: 0px;
}


@media (max-width:850px){
 
  nav{
     display: none;
  }
  .container_logo_header{
    width: 70%;
    justify-content: center;
  }
  .logo_header{
    height: 4rem;
  }
  #cont{
    display: block;
  }
 }
 @media (min-width:850px){
 
  #CHH{
    display: none;
  }
 }
 @keyframes animMenu2{
  0% {
      visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  100%{
      color: white;
      border-bottom: 1px solid yellow;
  }
}
 @keyframes animMenu{
  0% {
      height: 0px;
      color: black;
  }
  50%{
    color: black;
  }
  100%{
      height: 90vh;
  }
}





 
