@font-face {
  font-family: "Humanist521BT";
  src: url(../font/Humanst521-BT-Roman_23335.ttf);
}

.IndexBody{
    margin: 0;
    position: relative;
    font-family: "Humanist521BT";
  }
  
  .head {
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    background-image: url("https://i.ytimg.com/vi/biAP1PLNqRA/maxresdefault.jpg");
    background-position: center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .arrow {
    cursor: pointer;
    position: relative;
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .fa-angle-down {
    color: yellow;
  }
  @keyframes jump {
    0% {
      top: 0px;
    }
    50% {
      top: 10px;
    }
    100% {
      top: 0px;
    }
  }
  
  @media (min-width: 768px) {
    .head .intro-text {
      padding-top: 100px;
      padding-bottom: 140px;
    }
  
    .head .intro-text .intro-heading {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: "Humanist521BT";
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
    }
  }
  
  #section1 {
    background-attachment: fixed;
    padding-top: 28px;
    color: rgb(7, 7, 7);
    background-color: white;
    border-top-left-radius: 3px;
  }
  
  #section2 {
    background-attachment: fixed;
    padding-top: 50px;
    color: #fff;
    background-color: white;
  }
  
  #section3 {
    background-attachment: fixed;
    padding-top: 50px;
    color: #fff;
    background-color: white;
  }
  
  .container {
    max-width: 100rem;
    margin: 0 auto;
    height: 90vh;
    padding: 0 1rem 1rem;
  }
  
  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .mainMidle {
    max-width: 1200px;
    margin: 0 auto;
  }
  .fa-angle-down:before {
    color: #ffe600;
  }
  .metier {
    text-align: center;
    font-size: 2rem;
    color: #000000;
    margin-top: -1rem;
    font-family: "Humanist521BT";
  }
  
  .info a {
    text-decoration: none;
    color: #ffed47;
  }
  
  .info {
    color: #ffed47;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transform: translate(0vw, -125px);
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
  }
  
  .word1 {
    margin: 0px 0px 0px -4rem;
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
    margin-left: -40rem;
    color: rgb(255, 255, 255);
    font-family: "Humanist521BT";
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
  }
  .blur1 {
    border-radius: 5px;
  }
  .word2 {
    margin: 0px 0px 0px 6rem;
    font-weight: normal;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-family: "Humanist521BT";
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    margin-left: 1rem;
  }
  .word3 {
    margin: 0px 0px 0px 45rem;
    font-weight: normal;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-family: "Humanist521BT";
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    margin-left: 40rem;
  }
  span {
    display: inline-block;
  }

  .container2 {
    display: flex;
    justify-content: center;
  }
  
  .contact {
    height: 5rem;
  }
  
  #lames {
    width: 100%;
  }
  
  .column {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    margin-bottom: -4rem;
    height: 555px;
  }

  .iframeIndex {
    width: 50rem;
    border: solid;
    color:black
  }
  
  .top_index {
    display: flex;
    padding: 15px 0 0 25px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    transform: translate(0vw, -68px);
    flex-direction: column;
    margin-left: -6rem;
  }
  
  #currently {
    background: #222126;
    height: 100px;
    width: 275px;
    color: rgb(2, 156, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 1em #8c1b11;
  }
  
  #currently_open {
    margin: 0;
  }
  .currently_closed{
    color: #D91E0D;
    
}
#open.close{

  color: #D91E0D;
}

  
  #currently2 {
    background: #222126;
    height: 250px;
    width: 275px;
    color: rgb(2, 156, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 1em #8c1b11;
    flex-direction: column;
  }
  
  .imagesbdd{
    height: 300px;
    width: 300px;
    margin: 40px;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    transition: 0.3s ease all;
    box-shadow: 0 5px 40px rgb(0, 0, 0);
  }
  
  .imagesbdd:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.5);
  }
  
  .container3 {
    display: flex;
    justify-content: space-between;
  }
  
  .red {
    color: red;
  }
  
  .button {
    width: 158px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .button a {
    text-decoration: none;
    color: white;
  }
  
  .button:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
   .flex{
    display:flex;
    height: 500px;
    padding-top: 15px;
    justify-content: space-around;
    padding-bottom: 30px;
   }

   .text1Index{
    line-height: 2;
    padding: 2%;
    text-align: center;
    font-size: 30px;
    font-family: "Humanist521BT";
    overflow-wrap: break-word;
   }

   .text2Index{
    line-height: 2;
    padding: 2%;
    text-align: center;
    font-size: 25px;
    font-family: "Humanist521BT";
    overflow-wrap: break-word;
  }

  .imagesbdd{
width: 300px;
height: 300px;
  }


 
  @media screen and (min-width: 320px) and (max-width: 480px){
    .arrow{
      display:none;
    }
     .head{
      text-align: center;
      color: #fff;
      background-attachment: fixed;
      background-image: url("https://i.ytimg.com/vi/biAP1PLNqRA/maxresdefault.jpg");
      background-position: center;
      background-repeat: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
     }
    
    
      .head .intro-text {
        padding-top: 165px;
        padding-bottom: 140px;
      }
      main.index {
        backdrop-filter: none;
        margin-top: 6rem;
      }
      
     
      .iframeIndex {
      width: 20rem;
      border: solid;
      color:black
    }
    
    .container3{
      display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .flex{
      display: flex;
      flex-wrap: wrap;
      
    }
    .flex{
      padding-top: 15px;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .top_index{
      display: flex;
        padding: 75px 0 0 25px;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: row;
        align-content: stretch;
        position: relative;
        flex-direction: column;
        margin-left: -1rem;
    }
    #section3{
      background-attachment: fixed;
      padding-top: 408px;
      color: #fff;
    }
    .word1 {
      margin: -0;
      font-weight: normal;
      font-size: 2rem;
      margin-top: -15rem;
      
      color: rgb(255, 255, 255);
      font-family: "Humanist521BT";
    }
    
    .word2 {
      margin: 0;
      font-weight: normal;
      font-size: 2rem;
      color: rgb(255, 255, 255);
      font-family: "Humanist521BT";
    }
    .word3 {
      margin:  0;
      font-weight: normal;
      font-size: 2rem;
      color: rgb(255, 255, 255);
      font-family: "Humanist521BT";
    }
    .info {
      color: #ffed47;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      position: relative;
      transform: translate(0vw, -162px);
      font-size: 20px;
      font-weight: bold;
    }
    .fa-angle-down:before{
      display: none;
    }
    }
      
    @media screen and (min-width: 0px) and (max-width: 1200px){
      .arrow{
        display:none;
      }
       .head{
        text-align: center;
        color: #fff;
        background-attachment: fixed;
        background-image: url("https://i.ytimg.com/vi/biAP1PLNqRA/maxresdefault.jpg");
        background-position: center;
        background-repeat: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
       }
      
      
        .head .intro-text {
          padding-top: 165px;
          padding-bottom: 140px;
        }
        main.index {
          backdrop-filter: none;
          margin-top: 6rem;
        }
        
       
        .iframeIndex {
        width: 20rem;
        border: solid;
        color:black
      }
      
      .container3{
        display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
      }
      
      .flex{
        display: flex;
        flex-wrap: wrap;
        
      }
      .flex{
        padding-top: 15px;
          justify-content: space-around;
          padding-bottom: 30px;
      }
      .top_index{
        display: flex;
          padding: 75px 0 0 25px;
          align-items: flex-end;
          justify-content: flex-end;
          flex-direction: row;
          align-content: stretch;
          position: relative;
          flex-direction: column;
          margin-left: -1rem;
      }
      #section3{
        background-attachment: fixed;
        padding-top: 408px;
        color: #fff;
      }
      .word1 {
        margin: -0;
        font-weight: normal;
        font-size: 2rem;
        margin-top: -15rem;
        
        color: rgb(255, 255, 255);
        font-family: "Humanist521BT";
      }
      
      .word2 {
        margin: 0;
        font-weight: normal;
        font-size: 2rem;
        color: rgb(255, 255, 255);
        font-family: "Humanist521BT";
      }
      .word3 {
        margin:  0;
        font-weight: normal;
        font-size: 2rem;
        color: rgb(255, 255, 255);
        font-family: "Humanist521BT";
      }
      .info {
        color: #ffed47;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        position: relative;
        transform: translate(0vw, -162px);
        font-size: 20px;
        font-weight: bold;
      }
      .fa-angle-down:before{
        display: none;
      }
    }
