@font-face {
    font-family: "Humanist521BT";
    src: url(../font/Humanst521-BT-Roman_23335.ttf);
}
#bodyProposDiv {
    font-family: "Humanist521BT";
    font-size: 130%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mainPropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.h1Apropos {
    font-size: 200%;
    font-weight: 200;
    padding: 2%;
}

.imgPropos {
    width: 40vw;
}
.textPropos {
    line-height: 2;
    padding: 2%;
    width: 60vw;
}
